*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0; 
}


body{
  background-color:  #E1DDDD;
  overflow-x: hidden;
}

/* Inicio Cabezera */

header{
  width: 100%;
  max-width: 1920px;
  height: 15em;
  background-color: #DFE238;
  border-radius: 0px 0px 20px 20px;
}

.logo /*img*/{ 
  display: inline-flex;
  background-image: url(../resourses/img/logos/MasterMusicStore.png);
  background-size: cover;
  background-position: center;
  width: 185px;
  height: 90px;
  margin-left: 28px;
  margin-top: 8px; 
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#Search{
  width: 100%;
  height: 100%;
  max-width: 751px;
  max-height: 63px;
  padding-inline-start: 30px;
  outline: none;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-style: none;
}
#Search_Button{
  background: rgba(254, 158, 44, 0.85);
  border-radius: 10px;
  width: 64px;
  height: 64px;
  border-style: none;
}

.User_Button{
  width: 280px;
  height: 68px;
  background: #CFD235;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;

}

.User_Button i{
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  text-shadow:  4px 4px 3px rgba(0, 0, 0, 0.25);
}

.User_Button a{
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

/* .Inert_Buttons ul{
  display: flex;
  list-style: none;
  justify-content: center;
} */

#gt{
  width: 165px;
  height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
  margin-right: 40px;
}

#bp{
  width: 165px;
  height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
  margin-right: 40px;
}

#ts{
  width: 165px;
  height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
  margin-right: 40px;
}

#bj{
  width: 165px;
  height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
  margin-right: 40px;
}

#ge{
  width: 165px;
  height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}

#gt a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000;
}

#bp a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none; 
  color: #000;
}
#ts a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none; 
  color: #000;
}
#bj a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none; 
  color: #000;
}
#ge a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none; 
  color: #000;
}

#shop-cart{
  font-size: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  stroke: #000;

}

.Social_Media{
width: 111px;
height: 25px;
} 

.Social_Media ul{
  list-style: none;
  display: flex;
}
.Social_Media li{
  flex-flow: wrap column;
}

.Social_Media i{
  font-size: 25px;
  font-weight: 100;
  color: #000;
}

.Social_Media a{
  font-size: 40px;
  font-weight: 100;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: rgb(189, 190, 77);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: flex;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ffffff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}

/* Fin Cabezera */

/* Inicio Cuerpo de Página */

.principal{
  height: 400px;
}

.sliders{
  width: 100%;
  max-width: 1920px;
  margin: auto;
  height: 600px;
  overflow: hidden;
  border-radius: 30px;
}

.sliders ul{
  margin-top: 20px;
  padding: 0;
  display: flex;
  width: 300%;

  animation: slider 15s infinite;
}


.sliders li{
  width: 100%;
  height: 400px;
  list-style: none;
  border-radius: 30px;
}


#slider-1{
  background: url(../resourses/img/img-1.jpg) no-repeat;
  background-size: cover;
}

#slider-1 h2{
  color: #fff;
  
}

#slider-2{
  background: url(../resourses/img/img-2.jpg) no-repeat;
  background-size: cover;
}

#slider-2 h2{
  color: #fff;
}

#slider-3{
  background: url(../resourses/img/img-3.jpg) no-repeat;
  background-size: cover;
}

#slider-3 h2{
  color: #fff;
}


@keyframes slider{
  0%{margin-left: 0;}
  15%{margin-left: 0;}

  30%{margin-left: -100%}
  45%{margin-left: -100%;}

  60%{margin-left: -200%;}
  75%{margin-left: -200%;}

  90%{margin-left: 0;}

}

/* inicio panel de categorias principal */

.decoracion-1{
  width: 100%;
  height: 80px;
  max-width: 1871px;
  background: #DFE238;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-top: 44px;
  margin-left: 19px;
}

.decoracion-1 h2{
  padding-top: 20px;
  text-align: center;
}

.S-Categorias{
  width: 100%;
  height: 278px;
  max-width: 1871px;
  margin-top: 50px;
  margin-left: 19px;
  background: #F3F3F3;
  box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.25), inset 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.S-Categorias ul{
  list-style: none;
  display: flex;
}

.Guitarras, .Bajos, .Teclados, .Baterias{
  width: 230px;
  height: 177px;
  background: #fff;
  border-radius: 50px;
}

.Guitarras img{
  width: 134px;
  height: 188px;
}

.Bajos img{
  width: 178px;
  height: 178px;
}

.Teclados img{
  width: 222px;
  height: 194px;
}


.Baterias img{
  width: 201px;
  height: 132px;
  object-fit: scale-down;
}

/* slider de recomendados */

.slider-1-container {
  width: 100%;
  max-width: 1920px;
  height: 266px;
  background: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 44px;

  overflow: hidden;
  position: relative;
}

.slider-1 {
  display: flex;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: 36px;
}

.slide-1{
  width: 302px;
  height: 148px;
  margin-left: 30px;
  margin-right: 16px;
  border-radius: 10px;
  background-color: #ccc;
}

.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7, .img-8{
  width: 302px;
  height: 148px; 
  background: #fff;
  border-radius: 10px;
}

.img-1 img{
  width: 101px;
  height: 142px;
  margin: 1px 85px;
  object-fit: scale-down;
}

.slide-1 > p, a{
  text-align: center;
  text-decoration: none;
  color: #000;
}
.img-2 img{
  width: 110px;
  height: 154px;
  margin: 1px 85px;
  object-fit: scale-down;
}

.img-3 img{
  width: 115px;
  height: 159px;
  margin: 1px 85px;
  object-fit: scale-down;
}

.img-4 img{
  width: 98px;
  height: 147px;
  margin: 1px 85px;
  object-fit: scale-down;
}

.img-5 img{
  width: 161px;
  height: 139px;
  margin: 1px 85px;
  object-fit: scale-down;
}

.img-6 img{
  width: 193px;
  height: 141px;
  margin: 1px 65px;
  object-fit: scale-down;
}

.img-7 img{
  width: 180px;
  height: 150px;
  margin: 1px 65px;
  object-fit: scale-down;
}

.img-8 img{
  width: 194px;
  height: 141px;
  margin: 1px 55px;
  object-fit: scale-down;
}

.prev-btn-1,
.next-btn-1 {
  position: absolute;
  top: calc(50% - 24px);
  width: 32px;
  height: 32px;
  background-color: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #000;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.prev-btn-1 {
  left: 16px;
}

.next-btn-1 {
  right: 16px;
}

/* slider de marcas */

.slider-container {
  width: 975px;
  height: 197px;
  background: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  overflow: hidden;
  position: relative;
  top: 0;
  margin-left: 11px;
}

.slider {
  width: calc(147px * 18 + 6px * 17);
  height: 134px;
  margin-top: 36px;
  padding: 0 30px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.slide {
  width: 147px;
  height: 134px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #ccc;
}

.slide button{
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide img{
  width: 147px;
  height: 134px;
  object-fit: scale-down;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}
