*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0; 
}

body{
    background-image: url(../img/back.jpg);   
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


header{
    background: #DFE238;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header img{
    width: 361px;
    height: 108px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    object-fit: scale-down;
    align-self: center;
}







footer{
    height: 111px;
    background: #FFFBFB;
    border-top: 1px solid #000000;
    border-radius: 30px 30px 0px 0px;
    margin-top: 40px;
  }
  
  
  .footer-contain {
    column-count: 4; 
    column-gap: 10px; 
    background: #FFFBFB;
  }
  
  .footer-titulo {
    break-inside: avoid-column; 
    background: #FFFBFB;
  }
  
  .footer-titulo ul {
    display: none;
    list-style: none;
    background: #FFFBFB;
  }
  
  .footer-titulo a{
    color: #000;
    text-decoration: none;
  }
  .footer-titulo.mostrar ul {
    display: block;
  }
  
  #mas-informacion{
    width: 200px;
    height: 39px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
  }
  
  
  
  #final{
    background: #FFFBFB;
    margin-top: 15px;
    text-align: center;
  }