* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1dddd;
  overflow-x: hidden;
}

header{
  width: 100%;
  max-width: 1920px;
  height: 15em;
  background-color: #DFE238;
  border-radius: 0px 0px 20px 20px;
}

.logo{
  display: inline-flex;
  background-image: url(../../resourses/img/logos/MasterMusicStore.png);
  background-size: cover;
  background-position: center;
  width: 185px;
  height: 90px;
  margin-left: 28px;
  margin-top: 8px; 
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#Search{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 751px;
  max-height: 63px;
  padding-inline-start: 30px;
  outline: none;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-style: none;
}

#Search_Button{
  background: rgba(254, 158, 44, 0.85);
  border-radius: 10px;
  width: 64px;
  height: 64px;
  border-style: none;
}

.User_Button{
  width: 280px;
  height: 68px;
  background: #CFD235;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;

}

.User_Button i{
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  text-shadow:  4px 4px 3px rgba(0, 0, 0, 0.25);
}

.User_Button a{
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.Inert_Buttons{
  display: flex;
  align-content: space-evenly;
}

#gt{
  width: 165px;
  height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}

#bp{
  width: 165px;
  height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}

#ts{
  width: 100%;
  width: 100%;
  max-width: 165px;
  max-height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}

#bj{
  width: 165px;
  height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}

#ge{
  width: 165px;
  height: 68px;
  background: #DFE238;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}

#gt a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000;
}

#bp a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none; 
  color: #000;
}
#ts a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none; 
  color: #000;
}
#bj a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none; 
  color: #000;
}
#ge a{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none; 
  color: #000;
}

#shop-cart{
  font-size: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  stroke: #000;
}

.Social_Media{
width: 111px;
height: 25px;

}

.Social_Media i{
  font-size: 25px;
  font-weight: 100;
  color: #000;
}

.Social_Media a{
  font-size: 40px;
  font-weight: 100;
}


#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: rgb(189, 190, 77);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: flex;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #ffffff;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}



/* inicio categorias */

#barra-categorias{
  background-color:rgb(223, 226, 56);
  border-radius: 30px;
  margin-top: 15px;
  width: 100%;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

#barra-categorias h2{
  font-size: 30px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 30px;
}

.guitar, .bass, .keys, .drums, .recording, .accsesories, .software, .sound{
  width: 100%;
  height: 230px;
  display: inline-block;
  margin-top: 70px;
  background: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}


#img-container-gr, #img-container-ba, 
#img-container-ky, #img-container-dr, 
#img-container-rg, #img-container-accs, 
#img-container-sw, #img-container-sd{
  width: 278px;
  height: 230px;
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}

.contenedor-lista{
  display: inline-block;
  list-style: none;
  width: 1600px;
}

.elemento-1{
  display: inline-block;
  width: 440px;
  padding: 10px;
  text-align: center;
  margin-right: 20px;
  margin-left: 5px;
  margin-bottom: 12px;
}

.elemento-1 a{
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

#img-container-gr img{
  width: 134px;
  height: 188px;
  margin: 16px 62px;
}


#img-container-ba img{
  width: 178px;
  height: 178px;
  margin: 16px 30px;
}

#img-container-ky img{
  width: 272px;
  height: 239px;
}


#img-container-dr img{
  width: 258px;
  height: 180px;
  object-fit: scale-down;
  margin: 20px 2px;
}

#img-container-rg img{
  width: 308px;
  height: 190px;
  object-fit: scale-down;
  margin: 20px -18px 0;
}

#img-container-accs img{
  width: 308px;
  height: 190px;
  object-fit: scale-down;
  margin-top: 20px;
}


#img-container-sw img{
  width: 272px;
  height: 199px;
  object-fit: scale-down;
  margin-top: 15px;
}

#img-container-sd img{
  width: 250px;
  height: 250px;
  object-fit: scale-down;
}
















.decoracion-pr{
  width: 100%;
  height: 80px;
  max-width: 1844px;
  background: #DFE238;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  margin: 20px  20px 20px 30px;
}

.decoracion-pr h2{
  text-align: center;
  padding-top: 15px;
}

/* slider marcas */

.slider-container {
  width: 100%;
  max-width: 1844px;
  height: 197px;
  background: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  overflow: hidden;
  position: relative;
  top: 0;
  margin-left: 28px;
}

.slider {
  width: calc(147px * 18 + 6px * 17);
  height: 134px;
  margin-top: 36px;
  padding: 0 30px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.slide {
  width: 147px;
  height: 134px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #ccc;
}

.slide button{
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide img{
  width: 147px;
  height: 134px;
  object-fit: scale-down;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}




/* footer menu */


footer{
  height: 111px;
  background: #FFFBFB;
  border-top: 1px solid #000000;
  border-radius: 30px 30px 0px 0px;
  margin-top: 40px;
}


.footer-contain {
  column-count: 4; 
  column-gap: 10px; 
  background: #FFFBFB;
}

.footer-titulo {
  break-inside: avoid-column; 
  background: #FFFBFB;
}

.footer-titulo ul {
  display: none;
  list-style: none;
  background: #FFFBFB;
}

.footer-titulo a{
  color: #000;
  text-decoration: none;
}
.footer-titulo.mostrar ul {
  display: block;
}

#mas-informacion{
  width: 200px;
  height: 39px;
  background: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  border: none;
  margin-top: 20px;
  font-size: 18px;
}



#final{
  background: #FFFBFB;
  margin-top: 15px;
  text-align: center;
}